body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    background-color: navy;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; /* Add space below the logo */
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 48%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: navy;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: navy;
    background-color: #eef;
}

button {
    width: 100%;
    padding: 12px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

.navigation {
    margin: auto;
    position: relative; 
    width: 40%;
    background-color: navy;
    border-radius: 5px;
    z-index: 1000; /* Ensure it appears above other content */
}

.nav-toggle {
    background-color: navy;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Ensure responsiveness on smaller screens */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    .logo {
        max-width: 80%;
        margin-bottom: 15px; /* Increase space below logo */
    }

    h1 {
        font-size: 1.5em;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logo {
        max-width: 60%;
        margin-bottom: 20px; /* Increase space below logo */
    }

    h1 {
        font-size: 1.2em;
    }

    .container {
        padding: 10px;
    }
}
